


.gallery {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    //padding: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 66px;
    column-gap: 16px;
}
.gallery-img{
  width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: cover;
}

.info {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    padding: 5px;
    box-shadow: 7px 8px 16px -2px rgba(0,0,0,0.46);
    background-color: rgb(242, 240, 246);
}


.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.photo-card{
    box-shadow: -1px -2px 7px -3px rgba(0,0,0,0.45);
    flex-basis: calc((100% - 48px) / 4);
}

.is-hidden {
    opacity: 0;
}

input{
    width: 50%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
}
input:hover,
input:focus,
.form-button:hover,
.form-button:focus{
   background-color: rgb(241, 238, 181);
   border: none;
   color: rgb(139, 88, 183) ;
}

.search-form{
    background-color: rgb(139, 88, 183);
    text-align: center;
}

.form-button{
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}

.load-more{
     font-size: 24px;
     font-weight: 700;
    width: 100%;
    border-radius: 10px;
    background-color:rgb(139, 88, 183) ;
    color: rgb(241, 238, 181);
    cursor: pointer;
}